.grid { display: table; }
.gridRow { display: table-row; }
.gridCell { display: table-cell;}
.scores { display: table; }
.current, .highest {display: table-cell;}
.label, .score {display: table-cell;}

.grid {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #77C3EC;
  background-color: #F0F8FF;
  font-size: 17px;
}

.gridCell {
  border: 1px solid #77C3EC;
  padding: 2px 2px;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  color: #0ABAB5;
  font-weight: bold;
}

.scores {
  font-family: Arial, Helvetica, sans-serif;
  /* border: 2px solid #77C3EC; */
  /* background-color: #F0F8FF; */
  font-size: 17px;
}

.current {
  color: #9172EC;
}

.highest {
  color: #E238EC;
}

.label, .score {
  /* border: 1px solid #77C3EC; */
  padding: 2px 2px;
  height: 80px;
  width: 125px;
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
}